.StudentPersonalPage .student {
  @apply p-6;
}

.StudentPersonalPage .classroomList {
  @apply p-5 pl-14;
}

.StudentPersonalPage .classroom {
  @apply mb-5 relative;
}

.StudentPersonalPage .classroom:before {
  content: '';
  left: -30px;
  top: 6px;
  @apply border-lavender-700 w-4 h-4 absolute divide-solid border-2 rounded-full;
}

.StudentPersonalPage .classroom:not(:last-of-type):after {
  content: '';
  left: -23px;
  top: 22px;
  height: calc(100% + 5px);
  background-color: #F1EBF2;
  @apply w-0.5 absolute;
}

.StudentPersonalPage .classroom .title {
  @apply text-gray-400;
}

.StudentPersonalPage .classroom .title > *:not(:first-of-type) {
  @apply mx-1.5;
}

.StudentPersonalPage .classroom .date {
  @apply text-lavender-700;
}

.StudentPersonalPage .classroom .delete {
  @apply cursor-pointer;
}

.StudentPersonalPage .classroom .student {
  @apply text-gray-400 text-sm;
}

.StudentPersonalPage .classroom .student:after {
  content: ' 、 ';
}

.StudentPersonalPage .classroom .student:last-of-type:after {
  content: '。';
}

.StudentPersonalPage .add {
  @apply fixed right-6 bottom-6 w-16 h-16;
}

.StudentPersonalPage .img {
  @apply bg-gray-200 rounded-full w-32 h-32 mx-auto my-3;
}

.StudentPersonalPage .name {
  @apply text-center text-gray-700;
}

.StudentPersonalPage .name span,
.StudentPersonalPage .name input {
  @apply text-4xl;
}

.StudentPersonalPage .name input {
  @apply w-full text-center bg-lavender-200 max-w-sm;
}

.StudentPersonalPage .edit{
  @apply text-sm text-center text-lavender-700;
}

.StudentPersonalPage .expiresAt {
  @apply text-gray-400 text-sm text-center text-2xl;
}

.StudentPersonalPage .buttonGroup {
  @apply flex max-w-xs m-auto;
}

.StudentPersonalPage .buttonGroup button {
  @apply flex-1 text-white py-2;
}

.StudentPersonalPage .buttonGroup button:nth-of-type(1) {
  @apply bg-lavender-500;
}

.StudentPersonalPage .buttonGroup button:nth-of-type(2) {
  background-color: #C5BAC8;
}